.screen.room .content {
    position: fixed;
    width: 100%;
    height: calc(100% - 81px);
    top: 81px;
    overflow-y: auto;
}

.screen.room .content .box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    margin-top: -10px;
    min-height: 850px;
}

.screen.room .content .box.top {
    padding: 10px 10px 5px;
    margin-top: 0px;
}

.screen.room .content .box .in {
    width: 100%;
    height: 100%;
/* background: rgba(255, 255, 255, 0.41); */
/* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    ;
}

.screen.room .content .loading {
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    margin-top: -8px;
}

.screen.room .content .loading .text {
    margin: 0;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
    color: rgba(86, 86, 86, 0.56);
    height: 30px;
    margin-top: -4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    font-family: "Roboto";
    font-weight: 100;
}

body.ja .screen.room .content .loading .text {
    font-family: メイリオ;
}

.screen.layer.room {
    overflow-y: auto;
    background: #fff;
}

.screen.room .header {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    line-height: 80px;
    overflow: hidden;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.44);
    overflow: hidden;
}

.screen.room .header .logo {
    margin: 0px;
    font-weight: 100;
    text-indent: -12px;
    color: #E2E2E2;
    font-size: 122px;
    cursor: default;
    background: #fff;
    min-width: 703px;
    width: 100%;
    position: absolute;
    cursor: default;
    transition: color 0.2s ease-in-out;
}

.screen.room .header .text.menu {
    margin: 0px;
    position: absolute;
    right: 7px;
    line-height: 86px;
    color: #999999;
    cursor: pointer;
    height: 80px;
    font-size: 16px;
    transition: opacity 0.2s ease-in-out;
    font-weight: 400;
    font-family: "Roboto";
    font-size: 19px;
}

body.ja .screen.room .header .text.menu {
    font-weight: 100;
    font-family: メイリオ;
    font-size: 16px;
}

/* [Omit in iPhone] */
.screen.room .text:hover {
    opacity: 0.5;
}



@media (max-width: 830px) {
    .screen.room .header .logo {
        color: #F7F7F7;
    };
}

/* [TEMP] */


/* .article-panel-type01 .panel .loader{
  display: none !important;
} */

/* .screen.room .content .box .in{
  opacity:0;
} */

body.trn .screen.layer {
    transform: perspective(6000px) translateZ(-6000px);
}

body.trn2 .screen.layer {
    transform: perspective(6000px) translateZ(-6000px) translateX(-200%);
}

body.ja.mobile .screen.room .content .loading .text {
    font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}

body.ja.mobile .screen.room .header .text.menu {
    font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}

body.ja.no-touch .screen.room .text:hover {
opacity: 1 !important;
}