<div class="header">
<h1 class="logo">Kohei Shingai</h1>
<p class="text menu">採用担当の皆様へ</p>
</div>
<div class="color-drip" object="color-drip"></div>
<dov class="content">
<div class="box n0 top">
  <div class="in">
    <div class="article-panel-type01" object="article-panel-type01"></div>
  </div>
</div>
<!-- <div class="box n1">
  <div class="in">
    <div class="article-panel-type01" object="article-panel-type01"></div>
  </div>
</div> -->
<div class="loading">
<h1 class="text">ロード</h1>
</div>
</div>
