<link rel="stylesheet" href="./styles/layout.css"></link>
<div class="header">
<h1 class="title">Create Room</h1>
</div>
<div class="header sub">
<h1 class="sub no0">Step1: Authorize</h1>
</div>
<div class="iphone"></div>
<p class="explain">Please input following code on your iPhone. Also, you need to keep this page open.</p>
<p class="explain">You can submit this code via [http://room.cloudapp.net] > [Gear] > [Create Room]</p>
<input type="text" class="code">
<script src="./scripts/layout.js"></script>