<link rel="stylesheet" href="./styles/layout.css"></link>
<div class="header">
  <h1 class="title">Create Room</h1>
</div>
<div class="header sub">
  <h1 class="sub no0">Step1: Authorize</h1>
</div>
<div class="content">
  <div class="explain">
    <div class="in">
      <p class="block0">You can authorize simply with your iPhone</p>
      <p class="block1">Please input following <span class="red">code</span> on your <span class="green">iPhone</span>. Also, you need to keep this page open.</p>
      <p class="block2">You can submit following <span class="red">code</span> via:</p>
      <p class="block3"><span class="blue">http://room.cloudapp.net</span> > <span class="yellow">Gear</span> > <span class="pink">Create Room</span></p>
      <p class="block4">with your iPhone.</p>
      <input type="text" class="code" value="Now Preparing" readonly="true">
    </div>
  </div>
</div>
<script src="./scripts/layout.js"></script>