<link rel="stylesheet" href="./styles/layout.css"></link>
<div class="header">
  <h1 class="title">部屋の作成</h1>
</div>
<div class="header sub">
  <h1 class="sub">ステップ1: 認証</h1>
</div>
<div class="content">
  <div class="explain">
    <div class="in">
      <p class="block1">このページを開いた状態で、以下の認証コードをiPhoneから入力してください。</p>
      <p class="block2">iPhoneからのアクセス方法:</p>
      <p class="block3"><span class="blue">http://room.cloudapp.net</span> → <span class="yellow">歯車</span> → <span class="pink">部屋の作成</span>
      </p>
      <input type="text" class="code" value="準備中" readonly="true">
    </div>
  </div>
</div>
<script src="./scripts/layout.js"></script>